@import url(https://fonts.googleapis.com/css?family=Raleway:400);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900);



.container{

  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 100vh;*/
  /*height: 100vh;*/
}
.snip1236 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;

  color: #5E2CA5 ;
  overflow: hidden;
  margin: 2%;
  max-width: 280px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  border-top: 3px solid #5E2CA5;
  padding-top: 6px;
}

.snip1236 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}

.snip1236 h1,
.snip1236 h5 {
  margin: 0;
  line-height: 1em;
}

.snip1236 h1 {
  font-family: 'Playfair Display', Arial, sans-serif;
  font-size: 2.8em;
  text-transform: uppercase;
}

.snip1236 h5 {
  line-height: 0.5em;
  font-weight: 400;
  display: table;
  position: relative;
  display: inline-block;
  width: auto;
  padding: 0 10px;
}

.snip1236 h5:before,
.snip1236 h5:after {
  position: absolute;
  height: 3px;
  content: '';
  background: #5E2CA5;
  width: 1000%;
  top: 50%;
}

.snip1236 h5:before {
  left: -1000%;
}

.snip1236 h5:after {
  right: -1000%;
}


/* Demo purposes only */

body {
  background-color: #f4f4f4   ;
}

h2{
  font-family: 'raleway';
  color: #5E2CA5  ;
  display: flex;
  margin-left: 2%;
  line-height: 1.8em;
  margin: 0;
  font-size: calc(4vw + 4vh + 2vmin);
  line-height: 130%;
  /*height: 50vh;*/
}
